body{
    background-color:hsl(212, 45%, 89%);
}
.background{
    width: 275px;
    height: 455px;
    background: white;
    border-radius: 5%;
    position: absolute;
    left: 42%;
    top: 18%;
}
img{
    width: 250px; 
    border-radius: 5%;
    margin: auto;
    display: flex;
    margin-top: 5%;
}
h1{
    text-align: center;
    margin-top: 20px;
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    color: hsl(218, 44%, 22%);
}
pre{
    text-align: center;
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    color: hsl(220, 15%, 55%);
}